services:
  aas-env:
    image: eclipsebasyx/aas-environment:2.0.0-SNAPSHOT
    container_name: aas-env
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./aas:/application/aas
      - ./basyx/aas-env.properties:/application/application.properties
    ports:
      - '8081:8081'
    restart: always
  aas-env-2:
    image: eclipsebasyx/aas-environment:2.0.0-SNAPSHOT
    container_name: aas-env-2
    environment:
      - SERVER_PORT=8081
    volumes:
      - ./aas2:/application/aas
      - ./basyx/aas-env.properties:/application/application.properties
    ports:
      - '8082:8081'
    restart: always
