services:
  # Reverse proxy for infrastructure 1
  nginx-proxy:
    image: nginxproxy/nginx-proxy:1.6.0-alpine
    container_name: proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      DEFAULT_HOST: aasgui.basyx.localhost
    networks:
      - multiple-infrastructures

  # Identity provider (Keycloak) for infrastructure 1
  keycloak:
    image: keycloak/keycloak:24.0.4
    container_name: keycloak
    environment:
      VIRTUAL_HOST: keycloak.basyx.localhost
      VIRTUAL_PORT: "8080"
      KC_HOSTNAME: keycloak.basyx.localhost
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: keycloak-admin
      KC_HTTP_ENABLED: "true"
      KC_HTTPS_ENABLED: "false"
      KC_HEALTH_ENABLED: "true"
      KC_IMPORT: /opt/keycloak/data/import/
    command: ["start-dev", "--import-realm"]
    restart: unless-stopped
    ports:
      - 9097:8080
    volumes:
      - ./keycloak/realm:/opt/keycloak/data/import
    networks:
      - multiple-infrastructures
      
  # Healthcheck for Keycloak service
  keycloak-healthcheck:
    image: curlimages/curl:latest
    container_name: keycloak-healthcheck
    command: >
      sh -c "
        echo 'Waiting for Keycloak to become ready...';
        until curl -sf http://keycloak:8080/health/ready; do
          sleep 5;
        done;
        echo 'Keycloak is ready!'"
    depends_on:
      - keycloak
    networks:
      - multiple-infrastructures

  # Infrastructure 1 AAS Discovery service
  aas-discovery-infra1:
    image: eclipsebasyx/aas-discovery:2.0.0-SNAPSHOT
    container_name: secured-aas-discovery
    extra_hosts:
      - "keycloak.basyx.localhost:host-gateway" 
    environment:
      VIRTUAL_HOST: discovery.basyx.localhost
      VIRTUAL_PORT: "8081"
      # Component configuration
      SERVER_PORT: 8081
      BASYX_BACKEND: MongoDB
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_DATA_MONGODB_DATABASE: aas-discovery-1
      SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE: admin
      SPRING_DATA_MONGODB_USERNAME: mongoAdmin
      SPRING_DATA_MONGODB_PASSWORD: mongoPassword
      BASYX_CORS_ALLOWED_ORIGINS: '*'
      BASYX_CORS_ALLOWED_METHODS: 'GET,POST,PUT,PATCH,DELETE,OPTIONS,HEAD'
      # Security configuration
      BASYX_FEATURE_AUTHORIZATION_ENABLED: true
      BASYX_FEATURE_AUTHORIZATION_TYPE: rbac
      BASYX_FEATURE_AUTHORIZATION_JWTBEARERTOKENPROVIDER: keycloak
      BASYX_FEATURE_AUTHORIZATION_RBAC_FILE: file:/application/rbac_rules.json
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak.basyx.localhost/realms/BaSyx
    volumes:
      - ./rules/aas-discovery-rules.json:/application/rbac_rules.json
    ports:
      - '8084:8081'
    restart: unless-stopped
    depends_on:
      keycloak-healthcheck:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy
    networks:
      - multiple-infrastructures

  # Infrastructure 1 AAS Registry service
  aas-registry-infra1:
    image: eclipsebasyx/aas-registry-log-mongodb:2.0.0-SNAPSHOT
    container_name: secured-aas-registry
    extra_hosts:
      - "keycloak.basyx.localhost:host-gateway" 
    ports:
      - "8082:8080"
    environment:
      VIRTUAL_HOST: aasreg.basyx.localhost
      VIRTUAL_PORT: "8080"
      # Component configuration
      SERVER_PORT: 8080
      SPRING_DATA_MONGODB_URI: mongodb://mongoAdmin:mongoPassword@mongo:27017
      SPRING_DATA_MONGODB_DATABASE: aas-registry-1
      SERVER_SERVLET_CONTEXT_PATH: /
      BASYX_CORS_ALLOWED_ORIGINS: '*'
      BASYX_CORS_ALLOWED_METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
      # Security configuration
      BASYX_FEATURE_AUTHORIZATION_ENABLED: true
      BASYX_FEATURE_AUTHORIZATION_TYPE: rbac
      BASYX_FEATURE_AUTHORIZATION_JWTBEARERTOKENPROVIDER: keycloak
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak.basyx.localhost/realms/BaSyx
      BASYX_FEATURE_AUTHORIZATION_RBAC_FILE: file:/workspace/config/rbac_rules.json
    volumes:
      - ./rules/aas-registry-rules.json:/workspace/config/rbac_rules.json
    restart: unless-stopped
    depends_on:
      keycloak-healthcheck:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy
    networks:
      - multiple-infrastructures

  # Infrastructure 1 Submodel Registry service
  sm-registry-infra1:
    image: eclipsebasyx/submodel-registry-log-mongodb:2.0.0-SNAPSHOT
    container_name: secured-sm-registry
    extra_hosts:
      - "keycloak.basyx.localhost:host-gateway" 
    environment:
      VIRTUAL_HOST: smreg.basyx.localhost
      VIRTUAL_PORT: "8080"
      # Component configuration
      SERVER_PORT: 8080
      SPRING_DATA_MONGODB_URI: mongodb://mongoAdmin:mongoPassword@mongo:27017
      SPRING_DATA_MONGODB_DATABASE: sm-registry-1
      SERVER_SERVLET_CONTEXT_PATH: /
      BASYX_CORS_ALLOWED_ORIGINS: '*'
      BASYX_CORS_ALLOWED_METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
      # Security configuration
      BASYX_FEATURE_AUTHORIZATION_ENABLED: true
      BASYX_FEATURE_AUTHORIZATION_TYPE: rbac
      BASYX_FEATURE_AUTHORIZATION_JWTBEARERTOKENPROVIDER: keycloak
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak.basyx.localhost/realms/BaSyx
      BASYX_FEATURE_AUTHORIZATION_RBAC_FILE: file:/workspace/config/rbac_rules.json
    ports:
      - "8083:8080"
    volumes:
      - ./rules/sm-registry-rules.json:/workspace/config/rbac_rules.json
    restart: unless-stopped
    depends_on:
      keycloak-healthcheck:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy
    networks:
      - multiple-infrastructures

  # Infrastructure 1 AAS Environment service
  aas-env-infra1:
    image: eclipsebasyx/aas-environment:2.0.0-SNAPSHOT
    container_name: secured-aas-env
    extra_hosts:
      - "keycloak.basyx.localhost:host-gateway" 
    volumes:
      - ./aas:/application/aas
      - ./rules/aas-env-rules.json:/application/rbac_rules.json
    ports:
      - '8081:8081'
    restart: unless-stopped
    environment:
      VIRTUAL_HOST: aasenv.basyx.localhost
      VIRTUAL_PORT: "8081"
      # Component configuration
      SERVER_PORT: 8081
      BASYX_BACKEND: MongoDB
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_DATA_MONGODB_DATABASE: aas-env-1
      SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE: admin
      SPRING_DATA_MONGODB_USERNAME: mongoAdmin
      SPRING_DATA_MONGODB_PASSWORD: mongoPassword
      BASYX_CORS_ALLOWED_ORIGINS: 'http://localhost:3000,http://aasgui.basyx.localhost,http://localhost:3001'
      BASYX_CORS_ALLOWED_METHODS: 'GET,POST,PUT,PATCH,DELETE,OPTIONS,HEAD'
      BASYX_ENVIRONMENT: file:aas
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION: http://aas-discovery-infra1:8081
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION: http://aas-registry-infra1:8080
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION: http://sm-registry-infra1:8080
      BASYX_EXTERNALURL: http://aasenv.basyx.localhost
      SPRING_SERVLET_MULTIPART_MAXFILESIZE: 500MB
      SPRING_SERVLET_MULTIPART_MAXREQUESTSIZE: 500MB
      # Security configuration
      BASYX_FEATURE_AUTHORIZATION_ENABLED: true
      BASYX_FEATURE_AUTHORIZATION_TYPE: rbac
      BASYX_FEATURE_AUTHORIZATION_JWTBEARERTOKENPROVIDER: keycloak
      BASYX_FEATURE_AUTHORIZATION_RBAC_FILE: file:/application/rbac_rules.json
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak.basyx.localhost/realms/BaSyx
      BASYX_AASENVIRONMENT_AUTHORIZATION_PRECONFIGURATION_TOKEN_ENDPOINT: http://keycloak.basyx.localhost/realms/BaSyx/protocol/openid-connect/token
      BASYX_AASENVIRONMENT_AUTHORIZATION_PRECONFIGURATION_GRANT_TYPE: CLIENT_CREDENTIALS
      BASYX_AASENVIRONMENT_AUTHORIZATION_PRECONFIGURATION_CLIENT_ID: workstation-1
      BASYX_AASENVIRONMENT_AUTHORIZATION_PRECONFIGURATION_CLIENT_SECRET: nY0mjyECF60DGzNmQUjL81XurSl8etom
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION_AUTHORIZATION_ENABLED: true
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION_AUTHORIZATION_TOKEN_ENDPOINT: http://keycloak.basyx.localhost/realms/BaSyx/protocol/openid-connect/token
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION_AUTHORIZATION_GRANT_TYPE: CLIENT_CREDENTIALS
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION_AUTHORIZATION_CLIENT_ID: workstation-1
      BASYX_AASREPOSITORY_FEATURE_DISCOVERYINTEGRATION_AUTHORIZATION_CLIENT_SECRET: nY0mjyECF60DGzNmQUjL81XurSl8etom
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_ENABLED: true
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_TOKEN_ENDPOINT: http://keycloak.basyx.localhost/realms/BaSyx/protocol/openid-connect/token
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_GRANT_TYPE: CLIENT_CREDENTIALS
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_CLIENT_ID: workstation-1
      BASYX_AASREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_CLIENT_SECRET: nY0mjyECF60DGzNmQUjL81XurSl8etom
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_ENABLED: true
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_TOKEN_ENDPOINT: http://keycloak.basyx.localhost/realms/BaSyx/protocol/openid-connect/token
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_GRANT_TYPE: CLIENT_CREDENTIALS
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_CLIENT_ID: workstation-1
      BASYX_SUBMODELREPOSITORY_FEATURE_REGISTRYINTEGRATION_AUTHORIZATION_CLIENT_SECRET: nY0mjyECF60DGzNmQUjL81XurSl8etom
    depends_on:
      keycloak-healthcheck:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy
      aas-discovery-infra1:
        condition: service_healthy
      aas-registry-infra1:
        condition: service_healthy
      sm-registry-infra1:
        condition: service_healthy
    networks:
      - multiple-infrastructures
