name: Build and Push Docker Images on PR Merge

on:
  push:
    branches:
      - main
    paths:
      - 'aas-web-ui/**'

jobs:
  build-and-push-prerelease:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: eclipsebasyx/aas-gui
      IMAGE_TAG: SNAPSHOT
      SBOM_FILE: sbom.json

    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up Docker Buildx
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 3: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # Step 4: Build and Push Docker Image with Fixed Pre-release Tag
      - name: Build and Push Docker Image (Pre-release)
        uses: docker/build-push-action@v6
        with:
          context: ./aas-web-ui
          file: ./aas-web-ui/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      # Step 5: Generate SBOM with Syft
      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: |
          syft ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} -o json > ${{ env.SBOM_FILE }}

      # Step 6: Upload SBOM as an Artifact
      - name: Upload SBOM
        uses: actions/upload-artifact@v3
        with:
          name: sbom
          path: ${{ env.SBOM_FILE }}

      # Step 7: Verify the Push
      - name: Verify Docker Image
        run: |
          docker pull ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

